body{
    font-family: 'Poppins', sans-serif !important;
}
.container-fluid{
    max-width: 1366px;
}
a{
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0px;
}
ul{
    list-style: none;
    padding-left: 0;
}

/* Button */
.searchDestination{
    background: transparent linear-gradient(90deg, #ACC8FF 0%, #4E90FF 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    font-size: 20px;
    color: #1E1E1E;
    padding: 14px 49px 14px 48px;
    display: inline-block;
}

/* Header */
/* Header */
.header{
    background: #000;
}
.header .navbar{
    padding: 22px 0;
}
.header .container-fluid{
    padding-left: 143px;
    padding-right: 127px;
}
.header .bg-light{
    background-color: #000000 !important;
}
.header .quick,
.header .voyages{
    font-weight: 500;
    font-size: 35px;
    color: #F33F3F;
}
.header .voyages{
    color: #fff;
    margin-left: 6px;
}
.header .navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;
    padding: 0 14px;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
    padding: 4px 8px 5px;
}
.navbar-light .navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon{
    width: 25px;
    height: 25px;
}
.navbar-toggler-icon .fa-bars{
    font-size: 25px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header .navbar{
        padding: 0;
    }
    .header .container-fluid{
        padding: 15px;
    }
    .header .quick,
    .header .voyages{
        font-size: 20px;
    }
    .header .voyages{
        margin-left: 0;
    }
    .header .navbar-light .navbar-nav .nav-link{
        font-size: 14px;
        padding: 7px 0;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .header .container-fluid{
        padding: 0 30px;
    }
}

/* Breadcrumb */
.operators-breadcrumb{
    position: relative;
}
.operators-breadcrumb nav{
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 135px;
}
.breadcrumb-item a,
.breadcrumb-item.active{
    font-size: 15px;
    color: #1E1E1E;
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #1e1e1e;
    margin-top: 1px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .operators-breadcrumb nav{
        margin-top: 5px;
        margin-left: 0px;
    }
    .breadcrumb-item a,
    .breadcrumb-item.active{
        font-size: 14px;
    }
}

/* Results Found */
.results-found{
    padding-top: 15px;
    padding-bottom: 29px;
}
.results-found .container-fluid{
    padding-left: 138px;
    padding-right: 143px;
}
.results-found img{
    margin-top: 5px;
    margin-right: 10px;
}
.results-found .berlin-germany{
    font-size: 21px;
    color: #1E1E1E;
}
.results-found .berlin-germany span{
    color: #B2B2B2;
}
.results-found .results{
    color: #B2B2B2;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .results-found{
        padding-bottom: 30px;
    }
    .results-found .container-fluid{
        padding: 0 15px;
    }
    .results-content{
        flex-direction: column;
    }
    .results-found img{
        width: 12px;
        height: auto;
        margin-top: 0px;
        margin-right: 8px;
    }
    .results-found .berlin-germany{
        font-size: 16px;
    }
    .results-found .results{
        font-size: 12px;
    }
    .sort-by{
        margin-top: 15px;
    }
}

/* Operators */
.operators{
    padding-bottom: 112px;
    background-color: #FCFEFF;
    box-shadow: 0px 9px 18px #29292917;
    border: 1px solid #F3F3F3;
}
.operators .container-fluid{
    padding-left: 139px;
    padding-right: 148px;
}

.service-filters{
    background-color: #FCFEFF;
    box-shadow: 0px 3px 20px #DEF4FF8C;
    padding: 26px 0;
}
.service-filters .container-fluid{
    padding-left: 138px;
    padding-right: 143px;
}
.service-level p,
.service-operator p,
.traveler-age p,
.sort-by p{
    font-size: 18px;
    color: #1E1E1E;
    margin-right: 10px;
}
.sort-by p{
    margin-right: 16px;
}
.service-level .form-select,
.service-operator .form-select,
.traveler-age .form-select,
.sort-by .form-select{
    border-radius: 5px;
    border-color: #707070;
    font-size: 18px;
    color: #1E1E1E;
    padding: 15px 89px 15px 27px;
}
.service-level .form-select:focus,
.service-operator .form-select:focus,
.traveler-age .form-select:focus,
.sort-by .form-select:focus{
    box-shadow: none;
}
.service-level .form-select{
    padding: 15px 90px 15px 28px;
}
.service-operator .form-select{
    padding: 15px 49px 15px 15px;
}
.sort-by .form-select{
    padding: 15px 80px 15px 18px;
}

.has-search{
    margin-top: 57px;
    margin-bottom: 28px;
}
.has-search .form-control{
    width: 576px;
    padding: 14px 64px;
    background: transparent;
    box-shadow: 0px 3px 6px #00000042;
    border: 1px solid #FCFCFC;
    border-radius: 8px;
    font-size: 20px;
    color: #1E1E1E;
    margin-left: 5px;
    margin-right: 10px;
}
.has-search ::placeholder{
    color: #1E1E1E;
}
.has-search .form-control-feedback{
    position: absolute;
    width: 28px;
    height: 28px;
    color: #1e1e1e;
    margin-top: 16px;
    margin-left: 24px;
}

.operators .col-md-4{
    padding: 0 17px;
}
.traveller{
    background-color: #FCFCFC;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    margin-bottom: 42px;
}
.traveller-img{
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #29292929;
    border-radius: 8px;
    width: 100%;
    height: 124px;
}
.traveller-details{
    padding: 14px 13px;
}
.traveller-details h5{
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 10px;
}
.traveller-details h5 span{
    font-size: 14px;
    color: #9A9A9A;
}
.stars{
    margin-left: -2px;
}
.traveller-details .fa-star{
    color: #FFB300;
    margin-right: -6px;
    width: 19px;
    height: 18px;
}
.traveller-details .grey-star{
    color: #B1B1B1;
}
.traveller-details .traveller-reviews{
    font-size: 14px;
    color: #9A9A9A;
    margin-left: 14px;
}
.traveller-details p{
    font-size: 12px;
    color: #1E1E1E;
    line-height: 33px;
}
.traveller-details p img{
    margin-right: 3px;
}
.login-details{
    border-top: 1px solid #CCCCCC;
    padding: 12px 0 14px; 
    font-size: 13px;
    color: #5896FF;
}
.login-details img{
    margin-left: 11px;
}

.left-right-arrow{
    margin-top: 15px;
    margin-left: 2px;
}
.operators .fa-chevron-left,
.operators .fa-chevron-right{
    width: 10px;
    height: 18px;
    color: #646464;
    margin-bottom: 11px;
}
.operators .fa-chevron-right{
    color: #FF0000;
    margin-left: 30px;
}
.progress-left,
.progress-right{
    font-size: 24px;
    color: #646464;
}
.progress-right{
    color: #FF0000;
}
.progress {
    width: 144px;
    height: 4px;
    background-color: #B1B1B1;
    border-radius: 2px;
    margin: 0 1em;
}
.progress-bar {
    width: 35px;
    background-color: #F33F3F;
    border-radius: 2px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .operators{
        padding-bottom: 30px;
    }
    .operators .container-fluid{
        padding: 0 15px;
    }
    .service-filters{
        padding: 25px 0 30px;
    }
    .service-filters .container-fluid{
        padding: 0 15px;
    }
    .services-content{
        flex-direction: column;
    }
    .service-level,
    .service-operator,
    .traveler-age,
    .sort-by{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .service-level p,
    .service-operator p,
    .traveler-age p,
    .sort-by p{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .service-level .form-select,
    .service-operator .form-select,
    .traveler-age .form-select,
    .sort-by .form-select{
        font-size: 12px;
        padding: 10px 93px 10px 15px;
    }
    .service-level .form-select{
        padding: 10px 95px 10px 15px;
    }
    .service-operator .form-select{
        padding: 10px 46px 10px 10px;
    }
    .sort-by .form-select{
        padding: 10px 82px 10px 15px;
    }
    .service-operator{
        margin: 20px 0;
    }
    .has-search{
        margin: 30px 0 50px;
        flex-direction: column;
    }
    .has-search .form-control{
        width: 100%;
        padding: 12px 40px;
        font-size: 14px;
        margin: 0 0 12px 0;
    }
    .has-search .form-control-feedback{
        width: 16px;
        height: 16px;
        margin-top: 16px;
        margin-left: 15px;
    }
    .has-search .searchDestination{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        padding: 12px 0;
    }
    .traveller{
        margin-bottom: 20px;
    }
    .traveller-details p img{
        margin-right: 5px;
    }
    .login-details img{
        margin-left: 5px;
    }
    .left-right-arrow{
        display: none;
    }
}

/* Footer */
.footer{
    background: url(../img/footer-bg.png) no-repeat center;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 65px;
    overflow: hidden;
}
.footer-top .container-fluid{
    padding-left: 138px;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 26% 24% 24% 26%;
}
.footer h5{
    font-weight: 600;
    margin-bottom: 25px;
}
.footer-start span{
    color: #F33F3F;
}
.footer-start p{
    font-weight: 300;
}
.quick-links ul li,
.about-us ul li{
    font-weight: 300;   
    margin-bottom: 24px;
}
.quick-links ul li a,
.about-us ul li a{
    color: #fff;
}
.social-icons img{
    margin-right: 20px;
}

.footer-bottom{
    border-top: 1px solid #B1B1B1;
    padding: 65px 0;
}
.privacy-policy,
.copyright{
    font-size: 14px;
}
.copyright{
    color: #B1B1B1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer{
        padding-top: 30px;
    }
    .footer-top .container-fluid{
        padding-left: 15px;
    }
    .footer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer h5{
        margin-bottom: 15px;
    }
    .footer-start p{
        margin-bottom: 30px;
    }
    .quick-links ul li,
    .about-us ul li{
        margin-bottom: 15px;
    }
    .about-us{
        margin-bottom: 15px;
    }
    .footer-end{
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .social-icons img{
        margin-right: 15px;
    }
    .footer-bottom{
        padding: 30px 0;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 600px)and (max-width: 1200px) {
    .footer-top .container-fluid{
        padding-left: 30px;
    }
    .footer-content{
        grid-template-columns: 291px 200px 200px 291px;
    }
}

/* Login */
.modal-lg{
    max-width: 880px;
}
.modal-content{
    border: 1px solid #707070;
    border-radius: 58px;
}
.modal-header{
    border: none;
    padding: 0;
    padding-top: 55px;
    padding-left: 33px;
}
.modal-header .btn-close{
    background: url(../img/icons/close.svg) no-repeat right top;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 32px;
    right: 32px;
}
.modal-header ul{
    margin-bottom: 0;
}
.modal-header ul li{
    float: left;
    text-align: center;
}
.modal-header ul li a{
    color: #1E1E1E;
}
.modal-header .registration{
    margin-left: 39px;
}
.modal-header ul .active::after{
    content: '';
    width: 59px;
    height: 4px;
    display: block;
    background: #1E1E1E;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 2px;
}

.modal-body{
    background: url(../img/login.svg) no-repeat center bottom;
    padding: 39px 33px 76px;
    border-radius: 58px;
}
.modal-body form{
    max-width: 365px;
}
.modal-body .userId,
.modal-body .password{
    background: #fff;
    border: 2px solid #F8F8F8;
    border-radius: 5px;
}
.modal-body .userId{
    padding-left: 12px;
    border-left: 6px solid #F33F3F;
}
.modal-body .password{
    padding-left: 18px;
    padding-right: 22px;
}
.modal-body .form-control{
    border: none;
    padding: 17px 0 16px 16px;
}
.modal-body .form-control:focus{
    box-shadow: none;
}
.modal-body ::placeholder{
    color: #CCCCCC;
}
.modal-body form p a{
    color: #1E1E1E;
}
.modal-body .searchDestination{
    font-size: 16px;
    padding: 18px 63px 15px 62px;
    margin-top: 21px;
}
.signup-with{
    margin-top: 26px;
    margin-bottom: 17px;
}
.signup-with span{
    font-size: 14px;
    color: #A2A2A2;
    padding: 0 8px;
}
.signup-with .border-left,
.signup-with .border-right{
    border-bottom: 1px solid #CCCCCC;
    width: 177px;
}
.modal-body .sign-in a{
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    padding: 12px 11px 9px 12px;
    margin-right: 12px;
    color: #4E90FF;
}
.sign-in .signin-gmail img{
    margin-right: 22px;
}
.sign-in .signin-fb img{
    margin-right: 11px;
}
.have-account{
    color: #393939;
    margin-top: 24px;
}
.have-account a{
    font-weight: 500;
    color: #4E90FF;
}

/* Registration */
.gender{
    color: #CCCCCC;
    margin-top: 25px;
    margin-bottom: 24px;
}
.gender span{
    margin-left: 12px;
}
.gender .form-check-input{
    width: 23px;
    height: 23px;
    margin-top: 0;
    margin-right: 8px;
}
.gender .form-check-input:focus{
    box-shadow: none;
}
.registration-form .modal-body .searchDestination{
    padding: 17px 51px 16px 52px;
    margin-right: 10px;
    margin-bottom: 5px;
}